<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/main.css" />
    <link rel="stylesheet" href="/board/boardList.css" />
    <title>자유게시판</title>
</head>
<body>
    <section>
      <iframe src="/src/spbd_navbar2.html" frameborder="0" scrolling="no" width="100%" height="100%"></iframe>
        <div class="board_list">
            <table>
                <thead>
                    <tr class="table_menu">
                        <th class="list_category">카테고리</th>
                        <th class="list_subject">제목</th>
                        <th class="list_writer">작성자</th>
                        <th class="list_date">작성일</th>
                        <th class="list_watch">조회수</th>
                    </tr>
                </thead>
                <tbody>
                    <% for(let i=0; i < boards.length; i++) { let board = boards[i]; %>
                    <tr class="table_list">
                        <td class="list_category"></td>
                        <td class="list_subject" id="list_subject"><a href="/boardRead?id=<%=board._id%>"><%=board.subject%></a></td>
                        <td class="list_writer" id="list_writer"><%=board.author%></td>
                        <td class="list_date"><%=board.createdAt%></td>
                        <td class="list_watch"><%=board.watch%></td>
                    </tr>
                    <% } %>
                </tbody>
            </table>
            <a href="/boardWrite"><button>글 쓰기</button></a>
        </div>
    </section>
</body>
</html>
